@charset "UTF-8";
#senhaPreferencial{
    border: 1px solid black;
    max-width: 350px;
    padding: 10px;
    margin: 10px auto !important;
    float: none !important;
}

.resultado{
    margin-left: 400px
}
.intro{
    background-color: #005580;
    height: 100px;
     
}

.palavras{
    
}

.imagem{
    width: 50px;
    height: 50px;
    margin: 20px auto !important;
}
#aviso{
     margin: 10px;
    
    max-width: 720px;
    padding: 10px;
    margin: 10px auto !important;
    float: none !important;
}
#senhaNormal{
    margin: 10px;
    border: 1px solid black;
    max-width: 350px;
    padding: 10px;
    margin: 10px auto !important;
    float: none !important;
}

.corpo {
    max-width: 1200px;
    padding: 10px;
    margin: 60px auto !important;
    float: none !important;

}

.indexImagen{
margin: 0 auto;
    
}
.quadro {

    margin: 20px auto !important;

}

.imgIndex{
    width: 50px;
    height: 50px;
}

.imgIndex:hover{
    width: 100px;
    height: 100px;
    
}

.indexCirculo{
    margin: 10px;
    background-color: #A59A9A;
}

.preCad{
    border: 2px solid black;
    max-width: 350px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px auto !important;
    float: none !important;
    background-color: #A59A9A;

}

.exibirSenha{
    
    max-width: 350px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px auto !important;
    float: none !important;
    
}


.lista {
    border-bottom: 1px solid black;
}

.quadroNormal {
    border: 2px solid black;
    max-width: 400px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px auto !important;
    float: none !important;


}

.aviso{
    float: none !important;
    margin: auto;
    
        
}

.quadroPreferencial {
    border: 2px solid black;
    max-width: 400px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px auto !important;
    float: none !important;

}

.normal {
    text-align: center;
}

.senha {
    text-align: center;
}

.subsenha {
    text-align: center;
}

.chamarSenha {
    max-width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px auto !important;
    float: none !important;
    background-color: rgb(0,114,198);
}

.telaCadastro {
    max-width: 500px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px auto !important;
    float: none !important;
    background-color: #A59A9A;
}

.campoCadastro {
    height: 150px;
}

.btnPref {
    margin-left: 170px;
    margin-top: -45px;
}

.btnNorm {
    margin-top: -45px;
}

.botoes {
    margin-top: 50px;
}

.campos {
    padding: 10px;
    
    
}

.corLetras{
    color: white;
    margin-bottom: -10px
}

input:hover{
    background: #f2f2f2;
}

input:focus{
    background: #f2f2f2;
}

.busca{
    margin: 10px auto !important;
    float: none !important;
    
}

.mensagem{
    float: none !important;
    margin: 0 auto !important;
}

.alterar{
    max-width: 350px;
    padding: 20px;
    border: 1px solid black;
    margin: 10px auto !important;
    float: none !important;
    background-color: #005580;
   
    
}

.tabelAlterar{
     max-width: 450px;
    padding: 10px;
    margin: 60px auto !important;
    float: none !important;
}

body{
    margin-top: 60px !important;
}



